header {
    background-image: url(../../img/wave.svg);
    background-repeat: no-repeat;
    background-position: right top;
    height: 85vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav div {
    display: flex;
    padding-right: 50px;
    img {
        margin-top: 20px;
    }
    p {
        font-size: 40px;
        font-family: $pop;
        text-align: left;
        color: $colorgrey;
        font-weight: bold;
        padding-top: 59px;
        padding-left: 18px;
    }
}

ul {
    display: flex;
    li {
        padding-left: 20px;
        color: $colorwhite;
        font-family: $pop;
        list-style-type: none;
        padding-top: 10px;
    }
    a {
        padding-left: 20px;
        color: $colorwhite;
        font-family: $pop;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
    }
}

.accueil {
    position: relative;
    #phone {
        position: absolute;
        right: 7.6%;
        top: 4.7%;
    }
}

.homepage_content {
    padding-left: 213px;
    padding-top: 140px;
    .socialmedia {
        text-align: left;
        font-size: 50px;
        font-family: $pop;
        line-height: 80px;
        font-weight: normal;
        color: $colorDgrey;
    }
    h2 {
        @extend .socialmedia;
        font-size: 74px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    p {
        color: $colorLgrey;
        font-family: $pop;
        font-size: 16px;
        font-weight: 300;
    }
    #firstbtn {
        margin-top: 21px;
    }
}

.placementM {
    width: 100%;
    display: flex;
    justify-content: center;
    .Mouse {
        box-shadow: $lilshad;
        border-radius: $rad35;
        width: 80.1px;
        height: 80.1px;
        background-color: $colorwhite;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 152px;
    }
}

@media screen and (max-width: 768px) {
    nav div p {
        color: $colorwhite;
    }
    #phone {
        display: none;
    }
    .socialmedia {
        color: $colorwhite;
    }
}

@media (max-width: 376px) {
    nav div p {
        color: $colorwhite;
    }
    #phone {
        display: none;
    }
    .socialmedia {
        color: $colorwhite;
        padding-top: 0px;
    }
    .homepage_content {
        padding-left: 10px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    ul li a {
        padding-left: 0px;
        font-size: 14px;
    }
}