.mainbtn {
    border-radius: $rad25;
    background: $backgroundbtn;
    border: none;
    color: $colorwhite;
    font-family: $pop;
    padding: 13px 40px;
    display: inline-block;
    text-decoration: none;
}

.mainbtn2 {
    @extend .mainbtn;
    font-size: 12px;
}

.mainbtn3 {
    @extend .mainbtn;
    padding: 6px 18px 6px 18px;
    font-size: 12px;
}

.secondbtn {
    padding: 13px 40px;
    border-radius: $rad25;
    border: solid 1px $colorBlue;
    width: 171px;
    height: 52px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: $pop;
    color: $colorDgrey;
}