//Colors
$colorgrey: #484848;
$colorDgrey: #42495b;
$colorLgrey: #7a839e;
$backgroundbtn: linear-gradient(to left, #6156f9 12%, #1a129f 50%);
$colorLblue: #7e76f9;
$colorOblue :rgba(126, 118, 249, 0.15);
$colorwhite: #ffffff;
$colorBlue: #1000ff;
$colorDwhite :#f6f7fb;
$colorLdark :#999999;
//font-style
$pop: 'Poppins',
sans-serif;
$lato: 'Lato',
sans-serif;
;
$lob: 'Lobster',
sans-serif;
;
$dos: 'Dosis',
sans-serif;
;
//radius
$rad25: 25px;
$rad35: 35px;
//box shadow
$lilshad: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
$bigshad: 0 10px 20px 0 rgba(126, 118, 249, 0.1);